<div class="flex flex-col justify-center p-8">
  <div class="max-w-[40rem]">
    <h1 class="font-bold text-5xl mb-6">Sign Up</h1>
    <p class="tracking-wide font-mono">
      Dive deeper into your movie passion. Save your favorite finds, create
      personal lists, get curated recommendations, and connect with other film
      enthusiasts. <br />Join our community today!
    </p>
  </div>
  <form onSubmit="" class="flex flex-col mt-8 w-[20rem]">
    <label class="text-lg font-bold mb-2" htmlFor="username"> Email: </label>
    <input
      class="mb-4 rounded bg-gray-200/80 p-2"
      type="text"
      name="email"
      id="email"
      required
      placeholder="ex: bingewatcher64@mymail.com"
    />
    <label class="text-lg font-bold mb-2" htmlFor="username"> Username: </label>
    <input
      class="mb-4 rounded bg-gray-200/80 p-2"
      type="text"
      name="username"
      id="username"
      required
      placeholder="ex: bingewatcher64"
    />
    <label class="text-lg font-bold mb-2" htmlFor="password"> Password: </label>
    <input
      class="mb-4 rounded bg-gray-200/80 p-2"
      type="password"
      name="password"
      id="password"
      required
      placeholder="Enter Password"
    />
    <label class="text-lg font-bold mb-2" htmlFor="password">
      Confirm Password:
    </label>
    <input
      class="mb-4 rounded bg-gray-200/80 p-2"
      type="password"
      name="confirm_password"
      id="confirm_password"
      required
      placeholder="Confirm Password"
    />
    <button
      type="submit"
      class="select-none rounded-lg bg-pink-500 py-3 px-6 mt-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] active:shadow-none self-start"
    >
      Signup
    </button>
    <a
      routerLink="/signup"
      class="text-gray-600 hover:text-gray-800 font-light text-sm mt-4 underline decoration-gray-400"
      >Existing User? Login</a
    >
  </form>
</div>
