<div class="flex flex-col">
  <div class="bg-cover h-[35rem]" id="hero">
    <div class="bg-gray-900/10 w-full h-full flex items-center justify-center">
      <div class="pb-30 flex flex-col items-center">
        <div class="text-white text-6xl font-bold pb-10">
          All your favorite shows,
          <br />
          in one place
        </div>
        <a
          href="#trending"
          class="bg-red-500 text-2xl px-4 py-2 rounded-lg text-white hover:bg-red-600 transition-all hover:shadow-md hover:shadow-red-400"
        >
          VIEW SHOWS
        </a>
      </div>
    </div>
  </div>
  <div class="flex flex-col mb-8 ml-12 mt-16">
    <div class="">
      <h2 class="text-[2.5rem] font-medium" id="trending">
        Trending on Watch List:
      </h2>
      <h4 class="text-3xl font-light">
        Community Suggestions- Discover shows the community love
      </h4>
    </div>
    <div class="mt-16">
      <app-card></app-card>
    </div>
  </div>
</div>
